body {
    font-family: 'Poppins', sans-serif;
    margin: 0;



}

h1 {
    font-size: 50px;
}

span {
    color: orange;
}

.flex {
    display: flex;
    margin-bottom: 70px;
}

.half {
    width: 50%;
    padding-left: 2%;
    padding-right: 2%;
}

.half img {
    width: 80%;

}

.half text .link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 400;
    border-radius: 5px;
}

.top {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;

}

.second-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 400;
    border-radius: 5px;

}

.middle-part {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.experience {
    box-shadow: 10px 10px 40px gray;
    width: 40%;
    padding: 5%;
    margin: 5%;
    border-radius: 10px;
    border-left: 7px solid red;
    border-right: 7px solid blue;
}

.last-background {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;


}

footer p {
    text-align: center;
}